* {
  margin: 0;
  padding: 0;
}
/* navbar */
.navbar {
  display: flex;
  justify-content: center;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
}
.navbar::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul li {
  font-size: 1.1rem;
}
.navbar ul li a {
  padding: 5px 20px;
  text-decoration: none;
  color: white;
}
.navbar ul li a:hover {
  background-color: paleturquoise;
  color: black;
  box-shadow: 0 0 10px powderblue;
}
/*home sect*/
#home {
  display: flex;
  flex-direction: column;
  height: 650px;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: url("bbg.jpg") no-repeat center center/cover;
  height: 700px;
  width: 100%;
  z-index: -1;
  opacity: 0.5;
}
.heading {
  color: beige;
  font-size: 3rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  transform: scale(1, 1.5);
}
/*education*/
#education {
  display: flex;
  flex-direction: column;
  background-color: #000000dc;
}
#education h1 {
  margin: 60px;
}
.columns {
  display: grid;
  grid-template-columns: auto auto;
}
.box {
  height: 200px;
  width: 500px;
  background-color: turquoise;
  border-radius: 20px;
  margin: 10px;
  padding: 20px;
}
.box h2 {
  color: brown;
  font-size: 2rem;
  margin-bottom: 40px;
}
.box p {
  color: black;
  font-size: 1.1 rem;
}
#about {
  display: flex;
  flex-direction: column;
  height: 800px;
  background-color: rosybrown;
}
#about h1 {
  color: black;
  margin: 60px;
}
.name {
  padding: 10px;
}
.name h2 {
  font-size: 2rem;
}
.name p {
  font-size: 1.4rem;
}
/*contact*/
#contact {
  display: flex;
  flex-direction: column;
  background-color: black;
}
#contact h1 {
  margin: 50px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 15px 20px;
  margin: 15px;
  width: 40%;
  border: none;
  outline: none;
  border-radius: 25px;
}
#message {
  margin: 15px;
  padding: 10px;
  border-radius: 20px;
}
#submit {
  padding: 15px 20px;
  margin: 30px;
  width: 15%;
  border-radius: 20px;
  background-color: #000000dc;
  color: beige;
  border: none;
  outline: none;
}
#submit:hover {
  background-color: aqua;
  color: blueviolet;
  cursor: pointer;
}
#projects {
  display: flex;
  flex-direction: column;
  background-color: black;
  height: 650px;
  justify-content: top;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
#projects h1 {
  margin: 50px;
}
